@import "colors.css";
* {
  font-family: "JetBrains Mono Nerd Font", "Material Design Icons";
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  padding: 5px;
  color: @theme_fg_color;
}

#pill1 {
  border: 0px;
}
#pill2 {
  background-color: mix(@theme_bg_color, white, 0.1);
  border: 1px solid @base0E;
}

#workspaces button.active {
  background-color: @base0E;
  color: @theme_fg_color;
  border-radius: 10px;
}

#window {
  color: @base0E;
}

#custom-arrow {
  font-size: 8px;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 10px;
  background-color: @theme_bg_color;
  border: 1px solid @base0E;
}

.modules-left,
.modules-center,
.modules-right > box {
  padding: 3px;
}
